<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
  </head>
  <body>
    <p>
      <a href="https://<%= @comp_info.first.first %>/index.html">Main documentation page</a>
    </p>
  </body>
  <script>
<% @comp_info.values.uniq.each do |version_var| %>    var <%= version_var %> = "0.0.0";
<% end %>    var location_updated = false;
<% @comp_info.each do |(url_base, version_var)| %>    if (!location_updated && window.location.href.includes("//<%= url_base %>/latest")) {
      var loc = window.location.href.replace(
        "//<%= url_base %>/latest",
        "//<%= url_base %>/v" + <%= version_var %>);
      window.location.replace(loc);
      location_updated = true;
    }
<% end %>    if (!location_updated) {
      window.location.replace("https://<%= @comp_info.first.first %>/latest");
    }
  </script>
</html>
